# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs and databases
*.log
tensorboard_logs/

# Data and Models
data/*.csv
models/*.zip

# IDEs
.vscode/
.idea/
