# General Data Science & Math
pandas
numpy
yfinance
matplotlib
scikit-learn

# Strategy & Dashboard
streamlit
python-dotenv

# RL Framework & Environment
gymnasium
stable-baselines3[extra]
sb3-contrib
